<header class="bg-white px-4 pb-4 border-b-4 mb-1">
  <section class="flex justify-between items-center py-2 mb-4">
    <h2 class="font-bold"><%= @presenter.user.username %></h2>
    <button>
      <%= inline_svg_tag 'burger.svg' %>
    </button>
  </section>

  <section class="flex">
    <div class="mr-12">
      <%= render partial: 'shared/avatar', locals: { user: @presenter.user, avatar_class: "avatar-large", is_link: false } %>
    </div>
    <div class="flex flex-1 justify-between items-center">
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold"><%= @presenter.posts_count %></h4>
        <span>Posts</span>
      </div>
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold"><%= @presenter.comments_count %></h4>
        <span>Comments</span>
      </div>
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold"><%= @presenter.likes_count %></h4>
        <span>Likes</span>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <h4 class="font-bold leading-tight"><%= @presenter.user.name.capitalize %></h4>
    <p class="leading-tight text-sm"><%= @presenter.user.bio %></p>
    <%= link_to @presenter.user.website, @presenter.user.website, class: "leading-tight", rel: "noreferrer noopener" %>
  </section>
</header>
<main data-controller="tabs">
  <!-- Tabs -->
  <div class="flex items-center mb-1">
    <button class="transition-all duration-200 bg-white px-4 py-2 w-full border-b-2 border-black" data-name="posts" data-action="click->tabs#change" data-target="tabs.postToggler">
      <i class="material-icons">apps</i>
    </button>
    <button class="transition-all duration-200 bg-white px-4 py-2 w-full" data-name="activities" data-controller="fetch" data-action="click->tabs#change click->fetch#retrievectivities" data-target="tabs.activityToggler">
      <i class="material-icons">face</i>
    </button>
  </div>

  <!-- Posts Content -->
  <section class="grid grid-cols-3" data-target="tabs.postContainer">
    <% @presenter.posts.each do |post| %>
      <% if post.photos.attached? %>
        <%= link_to post_path(post) do %>
          <div class="bg-cover mb-1" style="height: 140px; width: 140px; background-image: url('<%= cl_image_path post.photos[0].key, crop: :fit, width: 300, height: 300 %>')"></div>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <!-- Other content -->
  <section class="grid grid-cols-3 hidden" data-target="tabs.activityContainer">
    <% @presenter.feed.each do |feed| %>
      <% if feed.post.photos.attached? %>
        <%= link_to post_path(feed.post) do %>
          <div class="bg-cover mb-1" style="height: 140px; width: 140px; background-image: url('<%= cl_image_path feed.post.photos[0].key, crop: :fit, width: 300, height: 300 %>')"></div>
        <% end %>
      <% end %>
    <% end %>
  </section>
</main>
