<header class="bg-white px-4 pb-4 border-b-4 mb-1">
  <section class="flex justify-between items-center py-2 mb-4 relative" data-controller="dropdown">
    <h2 class="font-bold font-sans"><%= @presenter.user.username %></h2>
    <button data-action="click->dropdown#toggle">
      <%= inline_svg_tag "burger.svg" %>
    </button>

    <div class="rounded-sm border-black border p-2 hidden bg-white absolute right-0 z-50" data-target="dropdown.menu" style="width: 100px; top: 2rem;">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </section>

  <section class="flex">
    <div class="mr-12">
      <%= render partial: 'shared/avatar', locals: { user: @presenter.user, avatar_class: "avatar-large", is_link: false } %>
    </div>
    <div class="flex flex-1 justify-between items-center">
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold font-sans"><%= @presenter.posts_count %></h4>
        <span>Posts</span>
      </div>
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold font-sans"><%= @presenter.comments_count %></h4>
        <span>Comments</span>
      </div>
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold font-sans"><%= @presenter.likes_count %></h4>
        <span>Likes</span>
      </div>
    </div>
  </section>

  <section class="mt-4 flex flex-col">
    <h4 class="font-bold font-sans leading-tight"><%= @presenter.user.name.capitalize %></h4>
    <p class="leading-tight text-sm"><%= @presenter.user.bio %></p>
    <%= link_to @presenter.user.website, @presenter.user.website, class: "leading-tight", rel: "noreferrer noopener" %>
    <% if current_user == @presenter.user %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "mt-2 bg-purple hover:bg-purple-darker text-white font-bold py-1 text-center px-4 rounded duration-300" %>
    <% end %>
  </section>
</header>
<main data-controller="tabs">
  <!-- Tabs -->
  <div class="flex items-center mb-1">
    <button class="transition-all duration-200 bg-white px-4 py-2 w-full border-b-2 border-black focus:outline-none" data-name="posts" data-action="click->tabs#change" data-target="tabs.postToggler">
      <i class="material-icons">apps</i>
    </button>
    <button class="transition-all duration-200 bg-white px-4 py-2 w-full focus:outline-none" data-name="activities" data-controller="fetch" data-action="click->tabs#change click->fetch#retrievectivities" data-target="tabs.activityToggler">
      <i class="material-icons">bookmarks</i>
    </button>
  </div>

  <!-- Posts Content -->
  <section class="grid grid-cols-3" data-target="tabs.postContainer">
    <% @presenter.posts.each do |post| %>
      <% if post.photos.attached? %>
        <%= link_to post_path(post) do %>
          <div class="bg-cover mb-1" style="height: 140px; width: 140px; background-image: url('<%= cl_image_path post.photos[0].key, crop: :fit, width: 300, height: 300 %>')"></div>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <!-- Other content -->
  <section class="grid grid-cols-3 hidden" data-target="tabs.activityContainer">
    <% @presenter.bookmarks.each do |feed| %>
      <% if feed.post.photos.attached? %>
        <%= link_to post_path(feed.post) do %>
          <div class="bg-cover mb-1" style="height: 140px; width: 140px; background-image: url('<%= cl_image_path feed.post.photos[0].key, crop: :fit, width: 300, height: 300 %>')"></div>
        <% end %>
      <% end %>
    <% end %>
  </section>
</main>
