<ul class="flex justify-between fixed bottom-0 w-full px-6 py-2 border-t-2 bg-white bottom-nav z-50">
  <li class="self-center">
    <%= link_to at_root? ? "#" : root_path, class: "text-black", data: { action: at_root? } do %>
      <i class="material-icons">home</i>
    <% end %>
  </li>
  <li class="self-center">
    <%= link_to explore_path, class: "text-black" do %>
      <i class="material-icons">search</i>
    <% end %>
  </li>
  <li class="self-center">
    <%= link_to new_post_path, class: "text-black" do %>
      <i class="material-icons">add_box</i>
    <% end %>
  </li>
  <li class="self-center">
    <%= link_to "#", class: "text-black" do %>
      <i class="material-icons">favorite</i>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="self-center">
      <%= link_to user_path(current_user.username), class: "text-black" do %>
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag(current_user.avatar.key, crop: :fill, gravity: :face, alt: "current-user-#{current_user.id}", class: "avatar-xs") %>
        <% else %>
          <i class="material-icons">person</i>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
