<header class="bg-white px-4 pb-4 border-b-4 mb-1">
  <section class="flex justify-between items-center py-2">
    <h2 class="font-bold"><%= @presenter.user.username %></h2>
    <button>
      <%= inline_svg_tag 'burger.svg' %>
    </button>
  </section>

  <section class="flex">
    <div class="mr-12">
      <%= render partial: 'shared/avatar', locals: { user: @presenter.user, avatar_class: "avatar-large" } %>
    </div>
    <div class="flex flex-1 justify-between items-center">
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold"><%= @presenter.posts_count %></h4>
        <span>Posts</span>
      </div>
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold"><%= @presenter.comments_count %></h4>
        <span>Comments</span>
      </div>
      <div class="flex flex-col justify-center items-center mx-3">
        <h4 class="font-bold"><%= @presenter.likes_count %></h4>
        <span>Likes</span>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <h4 class="font-bold leading-tight"><%= @presenter.user.name.capitalize %></h4>
    <p class="leading-tight text-sm"><%= @presenter.user.bio %></p>
    <%= link_to @presenter.user.website, @presenter.user.website, class: "leading-tight", rel: "noreferrer" %>
  </section>
</header>
<main>
  <div class="grid grid-cols-3">
    <% @presenter.posts.each do |post| %>
      <% if post.photos.attached? %>
        <div class="bg-cover" style="height: 140px; width: 140px; background-image: url('<%= cl_image_path post.photos[0].key, crop: :fit, width: 300, height: 300 %>')"></div>
      <% end %>
    <% end %>
  </div>
</main>
