<div class="px-4 mb-4">
  <h2 class="text-2xl text-center my-4 font-sans">Log in</h2>
  <%= simple_form_for resource, url: session_path(resource_name), html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-2 mb-4" } do |f| %>
    <%= f.input :login,
                input_html: { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", autocorrect: "off", autocapitalize: "none" },
                label_html: { class: "block text-gray-700 text-sm font-bold mb-2" },
                label: "Username or email",
                wrapper_html: { class: "mb-4" },
                error_html: { class: "text-red-500 text-xs italic" },
                placeholder: "bob@example.com" %>

    <%= f.input :password,
                input_html: { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" },
                label_html: { class: "block text-gray-700 text-sm font-bold mb-2" },
                wrapper_html: { class: "mb-4" },
                error_html: { class: "text-red-500 text-xs italic" },
                placeholder: "***********" %>

    <%= f.submit "Log in", class: "duration-200 shadow bg-purple-darker hover:bg-purple focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded w-full" %>

    <span class="text-red-500 text-xs italic mt-4 block"><%= flash[:alert] %></span>
  <% end %>

  <%= render partial: "devise/shared/links" %>
</div>
