<article class="mb-6">
  <!-- Headers -->
  <header class="flex p-3 justify-between items-center">
    <div class="flex cursor-pointer items-center">
      <% if post.user.avatar.attached? %>
        <%= cl_image_tag post.user.avatar.key, crop: :fill, gravity: :face, alt: "avatar", class: "avatar-small object-cover" %>
      <% else %>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png", alttext: "placeholder avatar", class: "avatar-small" %>
      <% end %>

      <%= link_to post.user.username, user_path(post.user), class: "ml-3 font-bold" %>
    </div>
    <i class="material-icons cursor-pointer">more_vert</i>
  </header>

  <!-- Image -->
  <div class="w-full bg-cover" style="min-height: 300px; background-image: url('<%= cl_image_path post.first_photo, crop: :fit %> ')"></div>

  <!-- CTAs -->
  <div class="mx-4">
    <section class="flex py-4">
      <div id="like-cta-<%= post.id %>">
        <% if post.liked_by_user? current_user %>
          <!-- Action to DESTROY like -->
          <% like ||= post.find_like(user: current_user, post: post) %>
          <%= render partial: 'likes/destroy', locals: { like: like } %>
        <% else %>
          <!-- Action to CREATE like -->
          <%= render partial: 'likes/create', locals: { post: post } %>
        <% end %>
      </div>

      <%= link_to post_comments_path(post, anchor: "comment_content"), class: "mr-4" do %>
        <i class="material-icons">comment</i>
      <% end %>

      <%= link_to "#", class: "mr-4" do %>
        <i class="material-icons">send</i>
      <% end %>

      <%= link_to "#" do %>
        <i class="material-icons">bookmark_bordered</i>
      <% end %>
    </section>

    <!-- Number of likes -->
    <section>
      <% if post.any_likes? %>
        <p class="font-bold"><%= pluralize(post.likes.count, "like") %></p>
      <% end %>
    </section>

    <!-- Comment snippets -->
    <section>
      <% if post.any_comments? %>
        <% post.first_and_last_three_comments.each do |comment| %>
          <p>
            <span class="font-bold"><%= comment.user.username %></span>&nbsp;
            <%= comment.content[0..35]... %>
          </p>
        <% end %>
      <% else %>
        <p class="italic text-sm">Be the first to leave a comment!</p>
      <% end %>
      <%= link_to "View all #{pluralize(post.comments.count, "comment")}", post_comments_path(post), class: "text-gray-400" %>
    </section>

    <!-- Time ago -->
    <section>
      <p class="text-gray-400 text-sm mt-2"><%= time_ago_in_words(post.created_at) %> ago</p>
    </section>
  </div>
</article>
