<article class="mb-6" data-controller="share-post">
  <!-- Headers -->
  <header class="flex p-3 justify-between items-center">
    <div class="flex cursor-pointer items-center">
      <%= render partial: 'shared/avatar', locals: { user: post.user, avatar_class: "avatar-small", is_link: true } %>

      <%= link_to post.user.username, user_path(post.user.username), class: "ml-3 font-bold" %>
    </div>
    <div data-controller="dropdown" class="relative">
      <button data-action="click->dropdown#toggle" data-post-id="<%= post.id %>">
        <i class="material-icons cursor-pointer">more_vert</i>
      </button>

      <div class="rounded-sm border-black border p-2 hidden bg-white absolute right-0 z-50" data-target="dropdown.menu" data-id="<%= post.id %>" style="width: 120px;">
        <button class="pb-1" data-action="click->share-post#copy" data-link="<%= post.present.share_link(request.base_url) %>">Copy Link</button>
        <hr />
        <%= link_to "Delete post", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-600 pt-1" %>
      </div>
    </div>
  </header>

  <!-- Image -->
  <% if post.photos.attached? %>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% post.photos.each do |photo| %>
          <div class="w-full bg-cover swiper-slide" style="min-height: 300px; background-image: url('<%= cl_image_path photo.key, crop: :fill, aspect_ratio: '4:3' %> ')"></div>
        <% end %>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  <% end %>

  <!-- CTAs -->
  <div class="mx-4">
    <section class="flex py-4">
      <div id="like-cta-<%= post.id %>">
        <% like ||= post.find_like(user: current_user, post: post) %>
        <% if like %>
          <!-- Action to DESTROY like -->
          <%= render partial: 'likes/destroy', locals: { like: like } %>
        <% else %>
          <!-- Action to CREATE like -->
          <%= render partial: 'likes/create', locals: { post: post } %>
        <% end %>
      </div>

      <%= link_to post_comments_path(post, anchor: "comment_content"), class: "mr-4" do %>
        <i class="material-icons">comment</i>
      <% end %>

      <button class="mr-4" data-link="<%= post.present.share_link(request.base_url) %>" data-action="click->share-post#copy">
        <i class="material-icons">send</i>
      </button>

      <div id="bookmark-cta-<%= post.id %>">
        <% bookmark ||= post.find_bookmark(user: current_user, post: post) %>
        <% if bookmark %>
          <%= render partial: 'bookmarks/destroy', locals: { bookmark: bookmark } %>
        <% else %>
          <%= render partial: 'bookmarks/create', locals: { post: post } %>
        <% end %>
      </div>
    </section>

    <!-- Number of likes -->
    <section>
      <% if post.any_likes? %>
        <%= link_to pluralize(post.likes.count, "like"), post_likes_path(post), class: "font-bold" %>
      <% end %>
    </section>

    <!-- Comment snippets -->
    <section>
      <% if post.any_comments? %>
        <% post.first_and_last_comments.each do |comment| %>
          <p>
            <span class="font-bold"><%= comment.user.username %></span>&nbsp;
            <%= comment.long? ? comment.content[0..35]...  : comment.content %>
          </p>
        <% end %>
      <% else %>
        <p class="italic text-sm">Be the first to leave a comment!</p>
      <% end %>
      <%= link_to "View all #{pluralize(post.comments.count, "comment")}", post_comments_path(post), class: "text-gray-400" %>
    </section>

    <!-- Time ago -->
    <section class="relative">
      <p class="text-gray-400 text-sm mt-2"><%= time_ago_in_words(post.created_at) %> ago</p>

      <div class="hidden flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 w-full absolute bottom-0" role="alert" data-target="share-post.info">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
        <p>Link copied to clipboard.</p>
      </div>
    </section>
  </div>
</article>
