<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Clone</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= render partial: 'shared/ios_pwa_links' %>
    <meta name="msapplication-TileColor" content="#4d4c7d">
    <meta name="msapplication-TileImage" content="<%= image_path 'icons/ms-icon-144x144.png' %>">
    <meta name="theme-color" content="#4d4c7d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="bg-light-gray" data-controller="scroll-top">
    <%= render partial: 'shared/root_top_nav' if at_root? %>
    <div class="container h-screen-bottom-nav overflow-y-scroll" data-target="scroll-top.container">
      <%= yield %>
    </div>
    <%= render partial: 'shared/bottom_nav' %>
  </body>
</html>
